@font-face {
    font-family: 'Lora';
    src: url('Fonts/Lora-Bold.ttf');
}

@font-face {
    font-family: 'Lora Italic';
    src: url('Fonts/Lora-Italic.ttf');
}

@font-face {
    font-family: 'Oswald Regula';
    src: url('Fonts/Oswald-Regular.ttf');
}

@font-face {
    font-family: 'Oswald Bold';
    src: url('Fonts/Oswald-Bold.ttf');
}

@font-face {
    font-family: 'Oswald Light';
    src: url('Fonts/Oswald-Light.ttf');
}